.running-text{
    width: 35% !important;
}
.logo_img{
    vertical-align: middle;
    width: 95%;
}
.icon_menu{
    background-image: url(../img/menu_icons.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    width: 25px;
    position: relative;
    top: -2px;
}
.dashboard-icon {
    background-position: -3px -201px !important;
}
.required{
    color:#ff0000;
}
#myMap1 {
    height: 300px;
    width:500px;
    margin:0 auto 10px;
}
select.dd-lang {
    margin-top: 15px;
    margin-right: 20px;
}
ul.topnav li a.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white!important;
    text-shadow: none;
    border-left: 2px solid #ffffff;
    padding-left: 28px;
    position: relative;
}
ul.topnav li a.active:after {
    border-bottom: 6px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: 19px;
    left: -6px;
    content: "";
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    tranform: rotate(90deg);
}
@media screen and (max-width: 800px) {
#logo h1, #logo-mobile h1 { margin-bottom: 0; margin-top: 10px;}
.logo_img { width:150px;}
}
.headeralert{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    margin: 6px;
    padding: 3px 15px 3px 15px;
}
/*.tabcontrol > .steps > ul > li > a {
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li.current {
    background: #2184be !important;
    border: 0 !important;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
    color: #fff;
}
.tabcontrol > .steps > ul > li.current a{
    background: #2184be !important;
    border: 0 ;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
    color: #fff;
    border-radius: 7px;
}
.tabcontrol > .steps > ul > li.current a:hover{
    
    border-radius: 7px !important;
}

.tabcontrol > .steps > ul > li {
   display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.tabcontrol > .steps > ul > li:hover{
    border:0 !important;
    background: transparent !important;
}*/
.tabcontrol > .steps{
    background:transparent !important;
}
.mapviewLable {
    width: 210px; font-family: abel !important;text-align: center;font-size: 17px;
}
.mapviewBusyLable {
    color: #ff6c60;font-weight: bold;
}
.tabcontrol > .content > .body ul > li{
    display: inline-block !important;
}
.tabcontrol > .content{
    height: 75em !important;
}

/* *********  moris  **************************** */

.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  padding: 6px;
  color: #666;
  background: rgba(243, 242, 243, 0.8);
  border: solid 2px rgba(195, 194, 196, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

/* *********  /moris  **************************** */

/* *********  Bettry  **************************** */
.batteryStatus {
    background: url(../img/battery.jpg) no-repeat center;
    height: 43px;
    width: 20px;
    background-position: 56% 22%;
    background-size: 243px;
    overflow: hidden;
    margin: 0 auto;
    
} 

.battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: -6px;
    top: 4px;
    width: 6px;
}
.battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 63px;
}
.battery .battery-level {
    background-color: #666;
    height: 100%;
}
.battery .battery-level.high {
    background-color: #66CD00;
}
.battery .battery-level.medium {
    background-color: #FCD116;
}
.battery .battery-level.low {
    background-color: #FF3333;
}
.battery .battery-level {
    text-align: center;
}
/* *********  End Bettry  **************************** */

/* drag objects (DIV inside table cells) */
.redips-drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	_width: 85px;
	color: #222;
	text-align: center;
	font-size: 11px;/* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);/* without width, IE6/7 will not apply filter/opacity to the element ?! *//* IE needs element layout */
	/* width: 74px; */
	height: 20px;
	line-height: 17px;/* border */
	/* position: absolute; */
	border: 0px;/* round corners */
	/* border-radius: 3px; */
	-moz-border-radius: 3px;/* FF */
        overflow: hidden;
}


/* tables */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
}
/* timetable */
div#drag #table2 {
        /* align table to the right */
        margin-left: auto;
}


/* table cells */
div#redips-drag td {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    height: 32px;
    text-align: center;
    font-size: 10pt;
    padding: 2px;
    font-family: arial !important;
    vertical-align: middle;
}
/* overwrite border settings for left tables */
/* set all borders to 0px except border-bottom */
div#redips-drag #table1 td {
        border-width: 0px 0px 1px 0px;
        font-family: arial !important;
}
/* styles for clone DIV elements in left table */
div#redips-drag #table1 div {
        margin-left: 5px;
        float: left;
        width: 191px;
        text-align: left;
        color: #fff;
}
/* define styles for buttons */
div#redips-drag #table1 input {
        float: right;
        width: 15px;
        height: 23px;
        margin-right: 5px;
        border-width: 1px;
        /* round corners */
        border-radius: 3px;
        /* default visibility is hidden */
        visibility: hidden;
}
.drop.blue {
    _background: #aec1d1;
    background: #3355FF;
}

.drop.grey {
    background: #999;
}

.drop.red {
    background: #C2171A;
}

.drop.green {
    background: #4AAB07;
}

.drop.yellow {
    background: #F1F365;
}

.drop.special .drag-box {
    background: #F1F365;
}

.no-padding {
   padding: 0 !important; 
}
.skin-flat1 .icheckbox_flat-blue{
    float:left;
}
.multilocation{
    margin-top: 20px;
}