.running-text{
    width: 35% !important;
}
.logo_img{
    vertical-align: middle;
    width: 95%;
}
.icon_menu{
    background-image: url(../img/menu_icons.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    width: 25px;
    position: relative;
    top: -2px;
}
.dashboard-icon {
    background-position: -3px -201px !important;
}
.required{
    color:#ff0000;
}
#myMap1 {
    height: 300px;
    width:500px;
    margin:0 auto 10px;
}
select.dd-lang {
    margin-top: 15px;
    margin-right: 20px;
}
/**/
ul.topnav li a {
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}

#logo {
    right: 50px;
    position: relative;
    top: -34px;
    max-width: 191px;
}
#skin-select li span {
    font-size: 14px;
    right: 10px;
    position: relative;
}
.date-top {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin-right: -30px;
    padding-left: 15px;
}
.digital {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: right;
    margin-left: -25px;
    margin-right: 15px;
    padding-right: 15px;
}
.running-text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    margin: 6px;
    padding: 10px 20px 0 45px;
    width: 50%;
}

.calendar {
    direction: rtl;
}

#flat_calendar_1, #flat_calendar_2{
    width: 200px;
}

#flat_calendar_3{
    width: 230px;
}
.display_area {
    background-color: #FFFF88
}


@media screen and (max-width: 800px) {
    #logo h1, #logo-mobile h1 { margin-bottom: 0; margin-top: 10px;}
    .logo_img { width:150px;}
}