/* ----
 PHP CSS compression can help website to load faster
---- */

/*<?php
    ob_start ("ob_gzhandler");
    header("Content-type: text/css; charset: UTF-8");
    header("Cache-Control: must-revalidate");
    $offset = 60 * 60 ;
    $ExpStr = "Expires: " .
    gmdate("D, d M Y H:i:s",
    time() + $offset) . " GMT";
    header($ExpStr);
?>*/

/* ----
 Note : change *.css to *.php and include it in <head> * </head>
-----*/

@font-face { font-family:abel; src:url(../fonts/abel.ttf);}

/* ----------------------------- Global ----------------------------- */

html, body {
    /*    height: 100%;
    background:  url(../images/footer.png) repeat-x bottom center #f5f5f5; */
	background:#f5f5f5;
	font-family:Calibri !important
	
}
body {
    overflow-y: scroll;
    position: relative;
    /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;*/
}

.container-fluid{
    min-width:980px;
    /*min-width:955px;*/
    margin: 0 auto;
}
.container-fluid.content{
    /*width: 955px;*/
    width: 1110px;
}
.topDiv{
    overflow: hidden;
}
a{
    color: #3480C7;
}
thead th{
    border-bottom: 2px solid #3480C7;
}
.left{
    float: right;
}
.right{
    float: left;
}
input[readonly],
select[readonly],
textarea[readonly]{
    cursor: default !important;
    background-color: #fff !important; 
}
.break{
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.hidden{
    opacity: 0;
    filter:opacity(0);
}
.red{
    color:#B00808;
}
.orange{
    color:#EDA00B;
}
.clientLogo img{
  
    margin: 20px auto 0 auto;
}
.tab-content{
    overflow: hidden;
}
.loginMenu{
    margin: 10px 10px 0;
}
.loginUserName{
    display: block;
}
.topMenu{
    min-width: 275px;
}
.DateTimeCurBox{
    background: #000;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius:  0 0 10px 10px;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}
.inner-container{
    background:#fff;
    position: relative;
    min-height:400px;
}

.left-side{
    padding-top: 10px;
    height: auto;
}
.title , thead th{
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    color:  #3480C7;
}
.left_padding{
    padding: 10PX 20PX 0 20px;
    height: auto;
    overflow-x: hidden;
    /*    position: relative;*/
}
.input-append .add-on, .input-prepend .add-on{
    color:#fff;
    background: #3480C7;
    text-shadow: 0 -1px 0 #333;
    border: 1px solid #3480C7;
}
.dim-opacity{
    opacity: 0.3;
}
.full-opacity{
    opacity: 1;
}
.selectUsers{
    width:190px;
}
/*Header*/
.clear.inline a{
    margin-left: 5px;
}
/*Header*/
/*Sidebar*/
.sidebar{
    background-image: url(../images/divider-vertical.png),url(../images/side-bar.png);
    background-position:0 0 ,left top; 
    background-repeat:  repeat-y ;
    background-color: #eeeeee;
    position: absolute;
    top:0;
    min-height: 100% !important;
    z-index: 1000;
}
.sidebarInner{
    height: auto;
    padding-bottom: 30px;
}
.sidebar .info{
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 8px #828282;
    -webkit-box-shadow: inset 0 0 8px #828282;
    box-shadow: inset 0 0 8px #828282;
    border: 1px solid #f5f5f5 !important;
    background: #fff !important;   
    font-size: 12px;
}
.sidebar h4{
    text-align: center;
    color:#3480C7;
    height: 22px;
    line-height: 22px;
}
.sidebar h6{
    padding: 0 9px 5px;
    margin: 0;
    font-size: 15px;
    color: #777;
    border-bottom: 1px solid #f2f2f2;
}
.sidebar .userImage{
    margin: 40px auto !important;
    display: block;
    height: 120px;
    width: 120px;
}
.sidebar hr{
    margin: 15px 0 10px;  
}
.infoIcon{
    background: url("../images/colorediconset.png") no-repeat right -1258px transparent;
    height: 32px;
    display: block;
    width: 32px;
    position: absolute;
    left: 10px;
    top: 24px;
}
.sidebar p{
    padding: 10px;
}

.slideOut{
    width: 32px;
    height: 32px;
    background:  url("../images/slideDiv.png")  no-repeat 0 -32px #d1d1d1;
    border:0;
    border-radius: 3px;
    margin: 6px;
}
.slideIn{
    background-position: 0 0;
}
.sidebar .input-xlarge {
    width:223px !important; 
}
.sidebar textarea.input-xlarge {
    min-width:223px !important;
    max-width:223px !important;
    min-height:130px !important;
    max-height:130px !important;
}
.sidebar .fakeTextBox{
    width:147px !important ;
}
.sidebar .browseVisible{
    width: 240px;
}
.sidebar .browseHidden {
    height: 33px;
}
.sidebar form .control-group{
    overflow: hidden;
}
.sidebar .info .form-horizontal select.input-xlarge {
    width: 238px !important;
}
.sidebar hr{
    border: 0;
    border-top: 1px solid #ddd;
} 
/*Sidebar*/
/* ----------------------------- Global ----------------------------- */
.actions{
    list-style: none;
    font-size: 0;
    margin: 0;
    height: 16px;
}
.actions.right{
    margin: 0 0 0 32px;
}
.actions li{
    display: inline-block;
    margin: 0 5px 0 0;
    line-height: 0;
    height: 16px;
    float: right;
}
.actions li a:hover ,.actions li a{
    text-decoration: none;
    color: transparent;
    display: block;
}
.actions.view_icons{
    float: left;
    margin: 5px 0 25px 0;
}
.actions.copyAndPaste{
    float: left;
    left: 14px;
    display: none;
    top: 6px;
    position: absolute;
}
/* ----------------------------- tabs ----------------------------- */
.tabNavigation{
    list-style: none;
    margin: 0 12px 0 0;
}
.tabNavigation  li{
    margin :0 0 0 -10px;
    background:url(../images/tabs.png) repeat-x 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    display: inline-block;  
    vertical-align: bottom;
    border: 1px solid #414242;
    border-bottom: 0;
    float: right;
    position: relative;
    top: 8px;
}
.tabNavigation li.active {
    background:url(../images/tabs.png) repeat-x 0 -40px;
    padding: 4px;
    border:0;
    top: 1px;
}
.tabNavigation  li  a ,.tabNavigation  li  a:hover{
    color:#fff;
    border:0 !important;
    font-size: 16px;
    text-shadow: -1px -1px 2px #363636;
    height: 24px;
    line-height: 27px;
    display: block;
    padding: 5px 10px 5px 20px;
    text-decoration: none;
}
.tabNavigation .tab a span{
    background-image: url(../images/iconset.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    height: 21px;
    width: 25px;position: relative;
    top: -2px;

}
.active.tab a ,.active.tab a:hover{
    padding: 5px 15px;
}
.dashboard-icon {
    background-position: -1px -3px;
}
.employees-icon{
    background-position: -1px -27px;
}
.projects-icon {
    background-position: -1px -74px;
}
.messages-icon {
    background-position: -1px -97px;
    margin-left: 8px;
}
.schedule-icon {
    background-position: -1px -217px;
    margin-left: 8px;
}
.report-icon {
    background-position: -1px -146px;
}
.payroll-icon {
    background-position: -1px -169px;
    margin-left: 8px;
}
.settings-icon {
    background-position: -1px -194px;
}
.navbar{
    margin-bottom: 0;
    background:url(../images/tabs.png) repeat-x 0 -65px !important;
    min-height: 25px;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    border:0;
    padding: 4px 0;
    z-index: 0;
}
.navbar .nav > li{
    line-height: 4px;

}
.navbar .nav > .active > a,  .navbar .nav > .active > a:hover,  .navbar .nav > .active > a:focus {
    color: #fff;
    background:transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #8bc7ff;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}
.navbar .nav > li > a {
    color: #fff;
    border-left: 1px dotted white;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    padding: 10px 8px 10px;
}
#myTab .active > a , #myTab .active > a:hover{
    color: white;
    background-color: #3480C7;
    border: 1px solid #3480C7;
}
#myTab  a{
    color: #fff;
    background-color: #6d6d6d;
    border: 1px solid #6d6d6d;
    position: relative;
    padding: 5px 10px;
}
.subTabsNotification{
    top: -12px !important;
    left: 15px !important;
    position: absolute !important;
    min-width: 20px !important;
    width: auto !important;
    padding: 1px 4px !important;
    color: white;
    font-size: 12px;
    background: #F03D25;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image:none !important;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    height: 20px !important;
    line-height: 22px;
}
#myTab .subTabsNotification{
    top: -15px !important;
    left: 10px !important;
}
#myTab.nav-tabs{
    border-bottom: 4px solid #3480C7;
    margin-top: 5px;
}
#myTab.nav-tabs > li{
    margin-bottom: 0;
}
#myTab.nav-tabs > li.right{
    margin-left: 26px;
}
/* ----------------------------- tabs ----------------------------- */
/* ----------------------------- footer ----------------------------- */

.footer{
    background:url(../images/footer.png) repeat-x bottom;
    height: 50px;
    margin: 0;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
}
/*.footerLogin{
    padding: 0;
    position: absolute;
    width: 100%;
    bottom:0;
}*/
.footer .logo{
    margin-top: 8px;
    width: 223px;
}
.footer .centerTextFooter{
    margin-top: 20px;
}
/* ----------------------------- footer ----------------------------- */
/* ----------------------------- icons ----------------------------- */
[class^="icon-"], [class*=" icon-"]{
    background-image: url("../images/colorediconset.png");
    width: 16px;
    height: 16px;
}
.icon-pencil {
    background-position: 0 0;
}
.icon-pencil-inActive {
    background-position: 0 0;
}
.icon-remove {
    background-position: 0 -16px;
}
.icon-request{
    background-position: 0 -1152px;
}
.icon-warning-sign{
    background-position: 0 -32px;
}
.icon-success-sign{
    background-position: 0 -48px;
}
.icon-error-sign , .icon-minus{
    background-position: 0 -64px;
}
.icon-info-sign{
    background-position: 0 -80px;
}
.icon-ok{
    background-position: 0 -96px;
}
.icon-cancil{
    background-position: 0 -112px;
}
.icon-approved{
    background-position: 0 -128px;
}
.icon-denied{
    background-position: 0 -144px;
}
.icon-pending{
    background-position: 0 -736px;
}
.icon-user.inActive-user{
    background-position: 0 -176px;
}
.icon-user{
    background-position: 0 -160px;
}
.icon-company.inActive-company{
    background-position: 0 -1008px;
}
.icon-company{
    background-position: 0 -992px;
}
.icon-company.forbidden{
    background-position: 0 -1072px;
    cursor: default;
}
.icon-flag.inActive-flag{
    background-position: 0 -208px;
}
.icon-flag{
    background-position: 0 -192px;
}
.icon-add{
    background-position: 0 -224px;
}
.icon-timer{
    background-position: 0 -240px;
}
.icon-envelope{
    background-position: 0 -256px;
    width: 25px;
}
.icon-envelope-read{
    background-position: 0 -960px;
    width: 25px;
    height: 26px;
    position: relative;
    top: -3px;
}
.icon-envelope-in{
    background-position: 0 -272px;
    width: 25px;
}
.icon-envelope-out{
    background-position: 0 -288px;
    width: 25px;
}
.icon-big-user-info{
    background-position: 0 -326px;
    height: 27px;
    width: 24px;
}
.icon-view-eye {
    background-position: 0 -564px;
}
.icon-view , .icon-list-view{
    width: 20px !important;
    height: 20px !important;
    border: 1px solid #CCC;
}

.icon-list-view{
    background-position: 0 -368px;
}
.icon-view{
    background-position: 0 -400px;
}
.icon-paste{
    background-position: 0 -432px;
}
.icon-copy{
    background-position: 0 -448px;
}
.icon-map{
    background-position: 0 -1171px;
}
.icon-addBankAccount{
    background-position: 0 -547px;
    width: 24px;
    height: 20px;
}
.icon-editBankAccount{
    background-position: 0 -526px;
    width: 24px;
    height: 20px;
}
.icon-originalTtimesheet{
    background-position: 0 -1194px;
    width: 22px;
    height: 20px;
}
.icon-absences{
    background-position: 0 -1348px;
}
.icon-resetPassword{
    background-position: 0 -1370px;
    width: 20px;
}
/* ----------------------------- icons ----------------------------- */
/* ----------------------------- modal ----------------------------- */
.modal{
    border:0;
    background: transparent;
    outline: none;
    overflow: hidden;
    z-index: 100000;
    /*    border: 5px solid rgba(255,255,255,.2);
            border-radius: 20px;*/
}
.customModal{
    position: absolute;
    margin-top: 0px !important;
    top:65px !important;
}
.modal-header .close{
    margin: 6px 0 0 -4px;
}
.modal-header .close{
    font-size: 0;
    opacity: 0.5;
    background: url("../images/colorediconset.png") 0 -304px !important;
    width: 16px;
    height: 16px;
}
.modal-header .close:hover{
    text-decoration: none;
    opacity: 1;

}
.modal-header{
    background: url("../images/modal_head.png") repeat-x scroll 0 0 transparent;
    /*    -webkit-border-radius:15px 15px 0 0 ;
        -moz-border-radius:15px 15px 0 0 ;
        border-radius:15px 15px 0 0 ;*/
    -webkit-border-radius:8px 8px 0 0 ;
    -moz-border-radius:8px 8px 0 0 ;
    border-radius:8px 8px 0 0 ;
    padding: 7px 15px;
    border: 1px solid #88ba00;
}
.modal-footer {
    /*    -webkit-border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        border-radius: 0 0 15px 15px;*/
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
.modal-header h3{
    color: #fff;
    text-shadow: 0 1px 0px #000; 
}
.modal-body{
    background: #fff;
    max-height: 550px;
}
.modal-backdrop{
    background: #000;
    z-index: 9999;
}
.modal-backdrop, .modal-backdrop.fade.in{
    opacity: .4;
    filter: alpha(opacity=40);
}
.modalForm{
    margin: 0;
    position: relative;
}
.modal .formButtons{
    width: 255px !important;
}
.modal .form-horizontal.custom .help-block{
    width: 230px;
    margin-bottom: -2px;
    white-space: normal;
    line-height: 14px;
}
.deactivateCopmanyForm .help-block{
    margin-right: -74px;
}
.modal .form-horizontal.custom .ShiftOptions .help-block{
    width: 500px;
}
.modal h5.heading {
    padding: 3px 2px;
    font-size: 15px;
}
.modal h5.heading span{
    font-size: 14px;
    color: #666;
    margin-right: 2px;
}
.modal .shiftDetails input.span2{
    width: 148px;
}
.modal .shiftDetails .add-on{
    width: 60px;
}
.modal .shiftDetails .input-prepend{
    margin: 0 0 10px;
}
.modal ul.subList{
    margin-right: 15px !important;   
}
.modal ul.subList label{
    width:150px;
}
.modal .customControl-group .input-xxlarge{
    width: 515px;
    max-width: 515px;
    mix-width: 515px;
}
hr.accountHolderDetails{
    margin-top: 35px;
    width: 100%;
}
/*2 list in modal*/
.halfWidth{
    float: right;
    margin-right: 1% !important;
    width: 48%;
}
table .colored.list.small li label.fullwidthLabel{
    width:100% !important;
}
.modal .halfWidth li label {
    width: 105px !important;
}
.modal .halfWidth li span {
    width: 46%;
}
.modal .colored.list.small li{
    padding: 0;
}
.modal .colored.list.small li label,table .colored.list.small li label{
    margin-left: 10px;
    font-weight: normal !important;
    width:30px !important;
}
.modal .colored.list.small li span{
    width: 62px ! important;
}
.modal .control-group .input-prepend .clockInput{
    width:134px;
}
.modal .control-group .input-xlarge.calendarInput {
    width: 216px !important;
}
.modal .control-group .input-prepend .add-on{
    width:72px;
}
.modal p.comment{
    width: 245px;
    background: #f9f9f9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    margin: 0;
    border: 1px solid #eee;
}
.map{
    display: block;
    margin: 0 auto;
}
.mapContainer{
    padding: 0;
}

/*Breaks List*/
.modal .list.breaks{
    width: 365px;
    margin: 0 auto !important;
}
.list.breaks li{
    width: 170px;
    display: inline-block;
}

.list.breaks li label,.list.breaks li span{
    display: inline-block !important;
    float: right !important;
    width: 60px;
    clear: none !important;
}
.modal .list.breaks li label,.modal .list.breaks li span{
    width: 80px;
}
.modal table .colored.list.small li span{
    width: 65px;
}
.modal .inlineBreaks li:nth-child(odd){
    clear: both;
    float:right;
}
.modal.deactivateCopmany {
    width: 445px;
    margin-right: -222px;
}
.modal.deactivateCopmany p {
    padding: 5px 25px 0px;
}
.modal.deactivateCopmany p:first-child {
    padding: 0 25px 0;
}
.modal.deactivateCopmany p:nth-child(3){
    margin-top: 20px;
}
.modal.deactivateCopmany label {
    width: 88px;
}
.modal.deactivateCopmany input{
    margin-right: -55px;
}

/* ----------------------------- modal ----------------------------- */
/* ----------------------------- tooltip ----------------------------- */
.tooltip.in{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.tooltip-inner{
    background-color: #3480C7;
    line-height: 20px;
    min-width: 50px;
}
.userNameTD .tooltip-inner{
    max-width: 120px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #3480C7;
}

.tooltip.right .tooltip-arrow {
    border-left-color: #3480C7;
}

.tooltip.left .tooltip-arrow {
    border-right-color: #3480C7;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #3480C7;
}

/* ----------------------------- tooltip ----------------------------- */


/* ------------------------ Calendar User List ----------------------- */

.userListHead{
    font-size: 17px;
    line-height: 36px;
    background: url("../images/colorediconset.png") 4px -326px no-repeat;
    padding: 2px 39px 0 0;
}
.users_list,.report-list{
    clear:both;
    list-style: none;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 710px;
    margin: 0 0 20px 0;
    border:1px solid #CCC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:  3px;
}
.users_list li a,.report-list li a{
    padding:5px;
    clear: both;
    float:right;
    width:100%;
    border-bottom: 1px solid #e5e5e5;
}
.users_list li a:hover,.users_list li a.selected{
    text-decoration: none;
    background:#f2f2f2;
}
.users_list li:nth-child(even) ,.report-list li:nth-child(even){
    background: #F9F9F9;
}
.users_list li:last-child li:nth-child(even) li:last-child{
    border-bottom: 0;
}
.report-list li{
    padding: 5px 5px 0;
}
.report-list li .input-xlarge {
    width: 200px;
}
.users_list li img{
    margin-left: 10px;
    float: right;
    display:inline-block;
    width:20%;
    /*border: 1px solid #ddd;*/
}
.search_txtBox {
    width: 59%;
}
.search_btn {
    width: 36% !important;
}
.input-prepend{
    margin-bottom: 20px;
}
.input-prepend.error input{
    border-color: #b94a48;
}
.user_data{
    width:70%;
    float: right;
}
.user_name,.jobTitle{
    float: right;
    display: inline-block;
    width:90%;
}
.jobTitle{
    width: 115px;
    color: #666;
    font-size: 11px;
    letter-spacing: 1px;  
}
.iconView .user_name{
    width:100%; 
}
.listView .user_name {
    padding:0 10px;
}
.users_list li a{
    position: relative
}

/* ------------------------ Calendar User List ----------------------- */
/*Calendar*/
.fullCalendarView {
    margin: 0 10px 0 0;
}
/*Calendar*/
/* ---------------------------- scroll-pan ---------------------------- */
.jspVerticalBar{
    width:10px;
}
.jspTrack{
    background: #dfecf8;

}
.jspDrag{
    background: #3480C7;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:  20px;
}

/* ---------------------------- timezone ------------------------------ */
.fc-header-right {
    width: 22%;
}
.fc-header-timeZone{
    width: 16%;
}
.timeZone{
    margin-top: 8px;
    float: left;
    display: inline-block;
}
.timeZone a{
    background: url("../images/colorediconset.png") 4px -464px no-repeat;
    padding-right: 30px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    color: #333;
}
.timeZone a:hover{
    text-decoration: none;
}
.zone{
    margin-left :5px;
    font-weight: bold;
    color: #F03D25;
}
/* ---------------------------- timezone ------------------------------ */
/*.btn.btn-primary{
    background: url("../images/btn-BG.png") repeat-x;
    border:0;
}*/


/* ----------------------------- popover ------------------------------- */
.popover{
    width:400px;
}
.popover-content{
    padding: 0;
}
.popover.top .arrow {
    bottom: -9px;
    border-top-color: whiteSmoke;
}
.popover-title {
    font-weight: bold;
    color: #666;
}
.popover-inner{
    margin: -1px;
}
.ShiftOptions .btn-group{
    margin-right: -1px;
}
.ShiftOptions .btn-group .btn{
    padding: 4px 16px 4px 16px;
}
.ShiftOptions .btn-group .btn,.popoverCustom .btn-group .btn{
    border-left: 1px solid #ccc !important;
}
.ShiftOptions .btn-group .btn.active ,.ShiftOptions .btn-group .btn:active,.popoverCustom .btn-group .btn:active{
    background-color: #e6e6e6;
    background-color: #d9d9d9;
    background-image: none;
    border-left: 1px solid #ccc !important;
    border-color: #ccc !important;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ShiftOptions .btn-group.checkboxs .btn{
    padding: 4px 8px 4px 8px;
}
.ShiftOptions h5.heading{
    padding-top: 15px;
    clear: both;
}
.ShiftOptions h5.heading:first-child{
    padding-top: 0;
}
.popUpDiv{
    float: right;
    margin: 10px 0;
    background: #F2F2F2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:15px;
    width: 94.5%;
}
.popUpDiv .input-prepend{
    width:100%;
}
.workingDays{
    float: right;
    overflow: hidden;
    display: block;
    margin: 0;
}
.workingDays li{
    display: inline-block;
    width: 125px;
    float: right;
}
.workingDays li.clear{
    float: none;   
    width:100%;
}

.ShiftOptionsTextArea {
    width:96%;
    max-width:96%;
    min-width:96%;
    min-height: 60px !important;
    max-height: 60px !important;
}
.popover-content{
    padding: 0;
}
.popover.top .arrow {
    bottom: -9px;
    border-top-color: whiteSmoke;
}

.popoverCustom{
    border: 0;
    width:84px !important;
    height:22px
}
/*for menu dimmed Buttons*/
.dimmedBtn , .dimmedBtn:hover {
    background: #e6e5e5;
}
.dimmedBtn [class^="icon-"], .dimmedBtn [class*=" icon-"]{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
}
/*for menu dimmed Buttons*/
.popoverControls {
    margin: -1px -17px -1px -1px;
}
.popoverControlsLastCol {
    margin-right: -32px;
}
.popoverCustom .controls .btn{
    padding: 2px 6px;
}



.infoBlock{
    top:5px !important;
    border:0;
    background: #666;
}

.infoBlock h6{
    margin-bottom: 0
}
.infoBlock p{
    margin-top: 0
}

.popover.infoBlock.left .arrow {
    top: 35px !important;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #666;
}

.infoBlock .popover-content {
    font-size: 11px;
    max-height: 300px;
    overflow: auto;
    margin: 5px;
    line-height: 15px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px
}
.infoBlock h4 {
    color: #08c;
    margin: 5px 5px 0 5px;
}
.infoBlock p{
    padding: 10px;
}
/* ----------------------------- popover ------------------------------- */
.shiftList{
    margin-left: 25px;
}

.borderedDiv{
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    width:auto;
    margin-bottom: 1px;
}
.loginPageContainer{
    width:950px;
    margin: 0 auto;
    direction: rtl;
}
.loginPage{
    border: 1px solid #dedede;
    border-bottom: 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.companyName{
    text-align: center;
    background: none ;
    font-size: 40px ;
    text-shadow: 0px 1px 0 #000;
    color: #666 ;
    margin: 0 0 20px 0 ;
}

/*forms*/
form{
    /*    overflow: hidden;*/
    margin: 0;
}

.help-block,.help-inline{
    font-size: 11px;
}
.help-block.error{
    color: #B94A48 !important;
    font-style: normal !important;
}
.btn.blue,.btn.red,.btn.green,.btn.cancelBtn,button.ui-datepicker-current,button.ui-datepicker-close {
    color:#fff !important;
    border: 0;
    -moz-text-shadow: 0 1px 0 #000 !important;
    -webkit-text-shadow: 0 1px 0 #000 !important;
    text-shadow: 0 1px 0 #000 !important;  
}
.btn.blue{
    background: #2f78bd ;
    border:1px solid #2f78bd;
}
.btn.forceBlue{
    background: #2f78bd !important;
    border:1px solid #2f78bd !important;
}
.btn.blue:hover{
    background: #08c;
    border:1px solid #08c ;
}
.btn.red{
    background: #b22800;
    border:1px solid #b22800;
}

.btn.red:hover{
    background: #be2b00;
    border:1px solid #be2b00;
}
.btn.green{
    background: #729d00;
    border:1px solid #729d00;
}
.btn.green:hover{
    background: #88ba00;
    border:1px solid  #88ba00;
}
.btn.cancelBtn{
    color: #000 !important;
    background: #ececec;
    border: 1px solid #ccc;
    -webkit-text-shadow: 0 1px 0 #fff !important;
    -moz-text-shadow: 0 1px 0 #fff !important;
    text-shadow: 0 1px 0 #fff !important;
}
.btn.cancelBtn:hover{
    background: #eee;
}
.saveBtn{
    margin-right: 10px !important;
    float: left;
}
button.ui-datepicker-current,button.ui-datepicker-close{
    background: #2f78bd !important;
    border:1px solid #2f78bd !important;
}
button.ui-datepicker-current:hover,button.ui-datepicker-close:hover{
    background: #08c !important;
    border:1px solid #08c  !important;
}
.required{
    color: #b94a48;
    display: inline-block;
    float: right;
    line-height: 30px;
    padding: 2px 2px 0;
    width:auto !important;
}
.form-horizontal.custom .help-block{
    padding-right: 20px;
    margin-top: 2px;
    color: #888;
    font-style: italic;
    width: 495px;
    margin-bottom: -10px;
}
.form-horizontal.custom.generalOptions .help-block {
    width: auto;
    padding-right: 4px;
}
.form-horizontal.custom .control-group{
    position: relative;
}
.form-horizontal.custom .input-xxlarge{
    width: 500px;
}
.form-horizontal.custom .input-xxlarge.calendarInput{
    width: 475px;
}
.form-horizontal.custom .input-xlarge{
    width: 241px !important;
}
.form-horizontal.custom .input-xlarge.calendarInput{
    width: 216px !important;
}
.form-horizontal.custom .input-medium{
    width: 155px;
}
.input-medium.calendarInput{
    width: 125px;
}
.form-horizontal.custom select:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.form-horizontal.custom select.input-xxlarge{
    width: 512px;
}
.form-horizontal.custom select.input-xlarge{
    width: 253px !important;
}
.form-horizontal.custom select.input-medium{
    width: 167px !important;
}
.form-horizontal.custom select.input-small{
    width: 125px !important;
}
.form-horizontal.custom textarea{
    min-height: 150px;
    max-height: 150px;
}
.checkBoxInlineBlock,.radioInlineBlock{
    width:80%;
}
.form-horizontal.custom .checkBoxContainer{
    padding-right: 180px;    
}
.checkBoxInlineBlock .checkBoxContainer:first-child{
    padding-right:180px !important;
}
.checkBoxInlineBlock .checkBoxContainer{
    display: inline-block;
    float: right;
    padding: 10px 20px !important;
}

.form-horizontal.custom .radioContainer{
    padding-right: 198px;  
    margin-top:-5px; 
}
.radioInlineBlock .radioContainer{
    display: inline-block;
    float: right;
    padding: 10px 20px 10px 10px !important;
}


.form-horizontal.custom label.checkbox{
    margin-bottom: 0;
}

.form-horizontal.custom textarea.msg{
    max-width: 500px;
    min-width: 500px;
    min-height: 240px; 
    max-height: 240px;

}
textarea.error{
    border-color: #b94a48;
}

.checkboxList{
    max-height: 78px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.small-lable{
    margin: 0 10px;
    width: 50px !important;
}

.input-custom{
    width:175px !important;
}

.formButtons{
    width:695px;
}
.formButtons .controls .btn {
    margin-right: 10px;
}
.textValue{
    display:inline-block;
    margin-top: 5px;
}

/*SFCK plugin*/
#cke_person_task_description{
    min-width: 504px;
    max-width: 504px;
    float: right;
}


/*Upload Button*/
.fileUploadDiv{
    position: relative;
}
.browseHidden {
    position: relative;
    height: 27px;
    text-align: left;
    opacity: 0;
    z-index: 2;
    width:516px !important;
    cursor: pointer;   
}
.browseVisible {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    height: 26px;
    width: 555px;
}
.modal .browseVisible{
    width:245px;
}
.fileUploadDiv .fakeTextBox {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    width: 424px;
    border-left: 0;
    height: 22px;
}
.modal .fileUploadDiv .fakeTextBox{
    width: 150px;
}
.browseBtn {
    -moz-border-radius:  5px 0 0 5px;
    -webkit-border-radius:  5px 0 0 5px;
    border-radius:  5px 0 0 5px;
    margin: 0;
    padding: 5px 15px;
}
/*Upload Button*/


.calendarAndClockInputBtn{
    margin: 6px;
    cursor: pointer;
}
.dollarSign{
    background: url("../images/colorediconset.png") no-repeat white -33px -1025px;
    padding-right: 20px !important;
}
.input-xxlarge.dollarSign{
    width:486px !important;
}
/*forms*/

/*report page*/
.blockTitle{
    margin-bottom: 10px;
    display: block;
}
.numbering{
    background: #08c;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}
.users_list label,.report-list label{
    margin: 0;
}

.list li{
    padding: 5px;
    overflow: hidden;
}

.list{
    list-style: none;
    overflow-x: hidden
}

.calendarContainer{
    margin-top: 20px;
}
/*report page*/

/*View Message*/
.messageBody{
    width:100%;
    border:1px solid  #ddd !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
}
.messageBody-inner{
    padding: 10px;
    overflow: hidden;
}


.shiftStatus ul{
    margin-right: 0;
}
.shiftStatus .list li span {
    width: 48%;
}

.shiftStatusBlock{
    width:48%;
    float: right;
    margin-right: 1%;
}
.shiftStatusBlock.wide{
    width: 99%;
}
.list.shiftDate label,.list.shiftDate span{
    font-size: 13px !important;
}
.list.shiftDate li span {
    width: 70%;
}
.list.shiftDate li{
    padding: 0 0 5px 5px;
}
.list.shiftDate label{
    width:40px;
}
h5.shiftHead{
    color:#fff;
    background: #08c;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.inlineHr{
    margin: 35px 0;
}
li.message{
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
/*View Message*/
/*grid*/
.inActiveRow{
    background: url("../images/inActiveRow.png") repeat;
}
.inActiveRow td{
    background: transparent !important;
}
.highlightedCell{
    background: #eee !important;
}
.clockinAndClockOutTime{
    float: right;
    margin-left: 5px;
    width:62px;
    text-align: left;
}
.gridLocation{
    clear: both;
    font-size: 11px;
    display: block;
    color: #08c;
    line-height: 13px;
    margin: 5px 0 0 0;
    width: 98px;
    display: inline-block;
    cursor: pointer;
}
table .colored.list.small{
    margin: 0;
    width:120px;
}
table .colored.list.small li label{
    width: 40px !important;
    text-align: right;
}
table .colored.list.small li span{
    width: 70px;
}
table .colored.list.small li{
    padding:  0;  
}
.clickable tbody tr:hover td{
    background: #eaf3fe !important;
    cursor: pointer;
}

.clickable tbody tr td:last-child,
.clickable thead tr th:last-child{
    padding-left: 25px;
}

.clickable tbody tr:hover td:last-child{
    background: url("../images/grid-arrow.png") no-repeat #eaf3fe left center !important;
}
/*grid*/


.modal .list{
    margin: 0 !important;
}
.modal label{
    width: 100px ;
}
.modal div.radio label{
    width: auto !important;
}
.modal label.radio{
    width:300px;
    padding: 5px 50px 5px 10px;
}
.modal .control-group {
    margin-bottom: 6px;
}
.list li label{
    width: 140px;
}
.modal .control-label{
    width: 160px;
}
.modal .controls .controls{
    margin-right: 85px;
}

.modal .input-small {
    width: 111px !important;
}
.modal .input-small.clockInput,
.modal .input-small.calendarInput{
    width: 81px !important;
}
.modal textarea.input-xlarge{
    min-width:241px;
    max-width:241px;
    min-height:60px;
    max-height:60px;
}
label.small{
    width: 68px !important;
}

.colored.list li label{
    clear: both;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    color:#08c;
}
.listTable th{
    color:#08c;
    width:110px;
    font-size: 13px;
}
.listTable th.first{
    border-radius: 0 4px 0 0;
}
.listTable th.last {
    border-radius: 0 0 4px 0;
}
.listTable th, .listTable td{
    padding: 5px 8px;
    border:0;
}
.modal .list li{
    padding: 5px; 
    overflow: hidden;
}
.list li label{
    clear: both;
    margin-bottom: 0  !important;
}
.list li label,.list li span{
    float: right;
    display: inline-block !important;
}
.overtime .list li label{
    width:300px;
}
.overtime li .help-inline{
    padding: 0 35px 0 0;
    margin: 0;
    width: 90%;
    position: relative;
    top: -8px;
}
.list li span{
    width:65%;
}
.list li:last-child label,.list li:last-child span{
    margin-bottom: 0;
}

.addNewBreak{
    margin: 0 0 0 95px;
}
.newBreakBlock{
    position: relative;
    margin-bottom:25px; 
}
.deleteRow,.addRow{
    background: url("../images/colorediconset.png") no-repeat left -620px transparent;
    position: absolute;
    top: 2px;
    left: 64px;
    width: 20px;
    height: 22px;
    border: 0;
    z-index: 100;
}
.modal .deleteRow,.modal .addRow{
    right: 265px;
}
.addRow{
    background: url("../images/colorediconset.png") no-repeat left -644px transparent; 
}
.deleteRow.custom,.addRow.custom{
    right: 695px;
}
h3.heading{
    color: #3480C7;
    margin: 0 0 25px;
    padding: 0 10px;
    background: #f2f2f2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 22px;
	font-family:abel !important;
}
h3.smallWidth{
    width: 95% !important;
}
h3.fullWidth{
    width: auto !important;
}

h3.heading span{
    color:#666;
    font-size: 16px;
    margin-right:6px;
	font-weight:normal !important;
}

h5.heading{
    color: #3480C7;
    margin: 0 0 15px;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px;
}
h5.heading .darkGray{
    color: #000;
    font-weight: normal;
}
.messagesGrid tbody tr td{
    font-weight: bold;
    font-size: 13px;
}

.messagesGrid tbody tr.read td{
    background-color: #f9f9f9;
    font-weight: normal;
    font-size: 14px;
    color: #999;
}
.messagesGrid tbody tr.read td a{
    color:#73b0ed;
}
/*Inline List*/
.inlineList{
    list-style: none;
}

.inlineList li{
    display: inline-block;
    line-height: 33px;
    margin-left: 5px;
}

.inlineList li.active a{
    font-weight: bold;
}
/*Inline List*/

.midVertical td{
    vertical-align: middle;
}

/*Button Group*/
.btn-group{
    display: inline-block;
}
.btn.active{
    background: url(../images/tabs.png) repeat-x 0 0 ;
    border-color: #333;
}
button.btn.forceActive{
    background: url(../images/tabs.png) repeat-x 0 0 !important;
    border-color: #333 !important;
}
/*.btn-group .btn{
    border-right: 2px solid #296dad !important;
}*/
.btn-group .btn:last-child{
    border-left: 1px;
}
/*Button Group*/


/*Today Block*/
.today{
    margin: 0 218px 0 0;
    width: 450px;
    overflow: hidden;
    float: right;
}
.clockInBtn,.clockOutBtn{
    background-image: url("../images/clockin-buttons.png");
    background-color: transparent;
    background-position:0 -85px;
    width:84px !important;
    height: 84px !important;
    border:0;
    margin: 40px 10px 10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.clockInBtn.active{
    background-position:0 0 ;  
}
.clockOutBtn{
    background-position:-85px 84px;
}
.clockOutBtn.active{
    background-position:-85px 0 ;
}

.clockInDataBlock{
    width:240px;
    display: block;
    text-align: center;
}
.counter{
    font-size: 50px;
    font-weight: bold;
    line-height: 48px;
    color: #666;
}

.clockInDataBlock > div > span{
    margin: 0 auto;
    float: none !important;
    display: block;
}

.breakTime{
    background-image: url("../images/break-on-off-button.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 29px !important;
    width: 100px !important;
    margin: 0 auto 15px;
    border:0;
}
.breakTime.active{
    background-position:0 -29px;
}
.breakTime.disabled{
    background-position:0 -57px;
}
input.breakTime[disabled]{
    background-color: transparent; 
}
.breakTimeCounter{
    color: #666666;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    top: -1px;
}
/*Chrome only*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .breakTimeCounter{top: -5px;} 
}
.animationContainer {
    width: 885px;
    margin: 0 auto;
    position: relative;
    padding: 20px 15px 0px;
    top: -21px;
    overflow: hidden;
}
.shiftReport.block,.mileage.block{
    display: none;
    float: left;
}

.shiftReport.block textarea,.mileage.block input[type="text"]{
    max-width: 270px;
    min-width: 270px;
}
.shiftReport.block textarea{
    min-height: 60px;
    max-height: 60px;
}

.today .btn-group{
    margin: 10px auto 0 !important;
    clear: both;
    display: block;
    padding-right: 10px;
}
.today .btn-group.oneButton{
    width: 235px !important;
}
.today a.btn{
    padding: 4px 75px;
}
.animationContainer h5.heading {
    background: #f2f2f2;
    border-radius: 4px;
    padding: 5px 10px;
    border:0;
}

.closeBlock{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 -1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/*Today Block in Sidebar

.sidebar .today{
    width:240px;
    margin: 45px auto;
}
.sidebar .breakTime{
    display: block;
    margin:0 auto; 
}
.sidebar .clockInBtn,.sidebar .clockOutBtn {
    margin: 10px auto;
    display: block;
}
.sidebar .counter {
    font-size: 40px;
}
Today Block in Sidebar*/

/*Today Block*/

.inActiveElement{
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.filteration div{
    float: right;
    margin: 10px 0 0 15px;
    width: 270px;
}
.filteration .custom{
    width: 254px;
}
.filteration .custom button{
    margin-right:10px;
}
.filteration .checkbox{
    margin-top: 5px;
}
.filteration select{
    width: 165px;
}
.filteration .add-on{
    width:80px;
}

.addBtn{
    padding: 4px 8px;
}
.zeroMargin{
    margin: 0 !important;
}
.control-group .attachedFiles.list{
    margin: 10px 0 0 0;
}
.attachedFiles.list li{
    padding:0 0 10px 0;
}
.attachedFiles .actions li{
    padding: 0 0 0 10px;
}
.attachedFiles.list li .help-inline{
    margin-right: 15px;
    font-style: italic;
    color: #999;
}

.taskIcon{
    background: url("../images/colorediconset.png") no-repeat right -759px !important;
}


/*myProfile*/
.profilePic.block{
    width: 95%;
    float: right;
    position: relative;
}
.editprofilePic{
    height: 230px;
}
.personalInfo .profilePic.block{
    float: right;
    position: absolute;
    top: 95px;
    right: 740px;
    width: 180px;
}
.profilePic.block .animateCircle {
    height: 150px;
    right: 0px;
    margin: 0 9px;
    top: 8px;
    width: 150px;
    z-index: 18 !important;
}
.profilePicContainer{
    height: 180px;
    right: -5px;
    position: relative;
    top: 8px;
    width: 180px;
    cursor: pointer;
    z-index: 2;
}

.profilePicControls{
    margin-top:45px;
}

.profilePicControls .btn{
    background: #fff;
    font-size: 11px;
    padding: 2px 0 !important;
    width: 120px !important;
}

.userName,.jopTitle{
    border: 0 !important;
    background: transparent !important;
    font-size: 30px !important;
    text-decoration: none !important;
    position: static;
    display: block;
    margin: 10px;
    text-align: center;
}
.jopTitle{
    top: 88px;
    font-size: 20px !important;
    right: 225px;
    color: #666 !important;
}
.profilePic img,.cropContainer{
    display: block;
    height: 150px;
    margin: 0px auto 25px;
    overflow: hidden;
    width: 150px;
}
.cropContainer{
    border: 8px solid #f2f2f2;
}
table .img-circle.white{
    background: #F2F2F2;
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 !important;
    position: relative;
    padding: 2px;
    border: 1px solid #CCC;
}
table .profilePic img {
    height: 70px !important;
    margin: 5px;
    width: 70px !important;
}
table .loginBlockOpenModal{
    border:0 !important;
}
.profilePic .userName,.profilePic .jopTitle{
    margin: 5px auto;
    line-height: 25px;

}
.profilePic.block img{
    z-index: 10;
    position: absolute;
    top: 9px;
}
.profilePic.block .userName,.profilePic.block .jopTitle{
    position: absolute;
    top:60px;
    right: 200px;
    /*    width: 400px;*/
    text-align: right;

}
.profileHr{
    width: 100%;
    top: 80px;
    position: absolute;
    z-index: 1;
    right: 20px;
}
.profilePic.block .userName{
    font-size: 30px !important;
}
.profilePic.block .jopTitle{
    top:100px;
}
.profileInfo{
    top: -25px;
    width: 80%;
    right: 180px !important;
    position: relative;
    clear: both;
}
.profileInfo .heading{
    background:#f2f2f2;
    clear: both;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
}
.profileInfo .colored.list{
    clear:both;
}
.profileInfo .colored.list li label{
    text-align: right;
}

.profilePic .btn{
    clear: both !important;
    float: none;
    margin: 10px auto 0;
    display: block;
    width: 55%;
} 
.profilePic.block .actions{
    position: absolute;
    left: -20px;
    top: 75px;
}
.profilePic div.actions .btn{
    width:auto;
    margin: -10px 10px 0 0;
    display: inline-block;
}
/*myProfile*/
/*other Profile*/
.viewPorfileWithGrid .profilePicContainer{
    height: 135px;
    width: 120px;
}
.viewPorfileWithGrid .profilePic img{
    width: 100px;
    height: 100px;
}

.viewPorfileWithGrid .profileHr {
    top: 55px;
}
.viewPorfileWithGrid .profilePic.block .userName,
.viewPorfileWithGrid .profilePic.block .jopTitle {
    top: 35px;
    right: 113px;
}
.viewPorfileWithGrid .profilePic.block .jopTitle {
    top: 77px ;
}
.viewPorfileWithGrid .profilePic.block .actions {
    top: 50px;
}
.viewPorfileWithGrid .profileInfo {
    top: 0;
    right: 95px !important;
}
/*other Profile*/


.loginBlock {
    width: 25%;
    margin: 10px 0 20px;
    float: right;
    border-radius: 5px;
}

.loginPage .inner-container{
    padding: 10px;

}
.LoginImg{
    /*    width: 70%;*/
    margin: 0 auto;
    padding-left: 5%;
    position: relative;
    overflow: hidden;
}
.LoginImg .white{
    border: 8px solid #f2f2f2;
    width: 94%;
    display: block;
    margin: 2px;
}
.profilePicContainer .white{
    border: 1px solid #ddd;
    background: #f2f2f2;
    width: 150px;
    height: 150px;
    display: block;
    padding: 8px;
}
.loginBlockOpenModal{
    width: 180px;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
}
table .loginBlockOpenModal{
    width:80px;
}
.LoginImg img{
    width:100%;
}
.userName{
    color: #3480C7;
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px !important;
}

.animateCircle{
    position: absolute;
    width: 161px;
    height: 161px;
    background: url("../images/animateLogin.png") repeat;
    display: none;
    margin: 10px;
}

.iconLogin{
    background: url("images/colorediconset.png") no-repeat right 0px !important;
    height: 48px;
    width: 57px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -30%;
}
.report-list{
    overflow-x: hidden;
}

.report-list.twoRow{
    min-height: 85px;
    max-height: 85px;
}
.report-list.threeRow{
    min-height: 126px;
    max-height: 126px;
}

.report-list.fourRow{
    max-height: 168px;
    min-height: 168px;
}

.report-list .control-group ,.report-list select{
    margin-bottom: 0;
}
.checkAll input[type="checkbox"]{
    margin: -4px 9px 0;
}
.report-list li label{
    clear: none;
    padding: 6px 7px;
    /*    width: 75%*/
}
.report-list li input[type="checkbox"],.report-list li input[type="radio"]{
    float: right;
    margin: 8px;
}

/*loader*/
.loaderContainer {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: .7;
    filter: alpha(opacity=70);
}
.fixedContainer{
    position: fixed !important;
}

.loaderContainerInner{
    position: relative;
    height: 100%;
    width: 100%;
}
.loaderImage{
    position: absolute;
    right: 50%;
    top: 50%;
    margin: -25px -25px 0 0;
}
/*loader*/

.Clockin_Btn,.login_Btn{
    padding-left: 34px !important;
    background-image: url("images/colorediconset.png")!important;
    background-repeat: no-repeat !important;
    background-position: 4px -880px !important; 
}
.login_Btn{
    background-position: 4px -915px !important; 
}

.login_topLinks {
    color: #3480C7;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 15px auto;
    text-align: center;
    width: 500px;
}

.modal-body .forgetPassword{
    background: url("../images/colorediconset.png") 0 -1108px !important;
    height: 24px;
    width: 24px;
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    top: -43px;
    left: 72px;
}
.forgetPasswordWithError{
    top: -64px !important;
}
.modal-body .tooltip.top .tooltip-arrow{
    bottom:1px;
}

.overtime .control-group{
    margin-bottom: 5px;
}
.overtime .control-group .control-label{
    width:145px;
    text-align: right;
}
.overtime .control-group .controls{
    margin-right: 150px;
}



/*Wizzard*/
/*container of wizzard next and prev Buttons*/
.wizzard {
    width: 515px;
}

.wizzardAct{
    padding:  15px 20px 20px;
    font-size: 16px;
}
.wizzardAct li,
.wizzardAct li a,
.wizzardAct li .divider{
    color:#999999 !important;
}
.wizzardAct li a{
    text-decoration: none;
}
.wizzardAct li.active a,.wizzardAct li.active .divider {
    color:#3480C7 !important;
}
.wizzardAct .divider{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 4px;
}

/*Wizzard*/

.toggleDiv{
    display: none;
}

/*pagination*/
.pagination li a{
    background: #f2f2f2 !important;
	cursor:pointer !important;
}
.pagination li.active a{
    background: #fff !important;
    font-weight: bold;
    color: #3480C7;
    font-size: 16px;
    cursor: default;
}
.pagination li.dimmed a{
    background: #f9f9f9 !important;
    cursor: default;
    color: #ddd;
}
.pagination li { cursor:pointer !important;}
/*pagination*/


.reportBlock.span5{
    width: 400px;
}
.ui-datepicker{
    z-index: 1000000 !important;
}
.workingDays li.clear{
    float: none;   
    width:98%;
}




.loginBlockDiv{
    position: static;
    margin: 20px auto 90px;
    background: #f9f9f9;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.loginBlockDiv .modalForm{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #ddd;
}

.loginBlockDiv .modal-body{
    padding: 40px 40px 10px 15px !important;
}


.loginBlockDiv label{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #08c;
    width: 165px !important;
}

.loginBlockDiv input{
    font-size: 18px;
    padding: 6px;
    line-height: 32px;
}
.loginBlockDiv .form-horizontal.custom input[type="password"]{
    padding-left: 25px;
    width: 221px !important;
}
.loginBlockDiv .modal-footer{
    padding: 14px 85px 15px;

}
.loginBlockDiv .control-group{
    margin-bottom: 15px;
}
.paidHours .radioContainer{
    width: 60px;
    text-align: right !important;
    margin-left: 5px !important;
    font-weight: normal !important;
    padding: 6px 10px !important;
}
.paidHoursHelp{
    position: relative;
    right: 110px;
    top: -38px;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
.push{
    height: 100px;
}

.toggler{
    margin-bottom: 20px;
    display: block;
}
.containerToggle{
    display: none;
}

/*crop image*/
.jcrop-holder img,.cropContainer img{
    max-height: none !important;
    max-width: none !important;
}

.calendarContainer{
    margin-top: 20px;
}

/*jquery*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
    color: #0088cc !important; 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #A0DAFE;
    color: #0088cc;
}
.ui-timepicker-div > dl {
    width: 95%;
}
.ui_tpicker_minute_label,.ui_tpicker_hour_label,.ui_tpicker_time_label{
    clear:both;
    padding-right: 14px;
    margin-top: 13px;
    color: #3480c7;
    font-size: 13px;
    width: 45px;
    margin-bottom: 5px;
}
.ui_tpicker_time_label,.ui_tpicker_time{
    float:right;
}
.ui_tpicker_time{
    margin: 13px -4px 0 0;
    font-size:14px;
    color:#08c;
}
.ui-slider{
    font-size: 4px !important;
}
.ui-slider-handle{
    -moz-border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
    font-size: 10px !important;
    margin-top: -2px;
}

.fakeBox{
    display: inline-block;
    height: 10px;
    width: 30px;
}
/*jquery*/


.removeCkBox {
    display: block;
    margin-top: 10px;
}

.form-horizontal.custom .removeCkBox input{
    margin-top: -2px;
    width:16px !important;
}

.clearInput{
    background: url("../images/colorediconset.png") no-repeat 0 -1215px;
    width: 16px;
    height: 16px;
    display:inline-block; 
}


/*grid*/
.actionsLarge_th{
    min-width:130px;
}
.actionsSmall_th{
    min-width:40px;
}
.actionsMidum_th{
    min-width:70px;
}
.actionsCP_th{
    width:118px;
}
.emp_th{
    min-width: 125px;
}
.hours_th{
    min-width:90px;
}
.PaidHours_th {
    min-width: 75px;
}
.clockin_th,.clockout_th,.date_th,.mileage_th{
    min-width:62px;
}
table tr td.alignRight,table tr th.alignRight{
    text-align: left !important;
}
.date_th{
    min-width:120px;
}
.number_th{
    width:20px;
}
.break_th{
    min-width: 150px;
}
.status_th{
    min-width:85px;
}
.empType_th{
    min-width: 160px;
}
.approvedBy_th{
    min-width: 100px;
}
span.bulletArrow{
    width: 0; 
    height: 0; 
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #08c;
    float: right;
    display: inline-block;
    margin: 7px 0 0 5px;
}
/*grid*/


/*REPORT*/
.empReportBlock{
    clear:both;
    width:650px !important;
}
.table.title{
    background: #3480C7 ;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
}
.table.title.table-striped td{
    border-top:0;
    background: transparent;
    padding: 8px;
}
.empReportBlock .table input{
    margin: 0 0 0 -7px;
    text-align: left;
}
.empReportBlock .table th,.empReportBlock .table td{
    padding: 4px 15px;
    text-align: left;
}
.empReportBlock .table tr th:first-child,.empReportBlock .table tr td:first-child{
    text-align: right;
}
.empReportBlock .table th{
    border:0;
    border-bottom: 2px solid  #4292dc;
}

.empReportBlock hr{
    margin: 40px 0;
}
.note{
    min-width: 635px;
    max-width: 635px;
    min-height: 80px;
    max-height: 80px;

}
.total{
    background: #3480C7 !important;
    color: #fff;
    font-weight: bold;
}

td.sideHead{
    font-weight: bold;
    font-size: 13px;
}
td.green{
    color: #468847;
}
td.red{
    color: #b94a48;
}

input.green,input.green:focus{
    border:1px solid #468847;
    -webkit-box-shadow: 0 0 8px #468847;
    -moz-box-shadow:  0 0 8px #468847;
    box-shadow:  0 0 8px #468847;
}
input.red,input.red:focus{
    border:1px solid #b94a48;
    -webkit-box-shadow: 0 0 8px #b94a48;
    -moz-box-shadow: 0 0 8px #b94a48;
    box-shadow:0 0 8px #b94a48;
}
input.green , input.red{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.exportBlock{
    margin-right: 690px;
    width:125px;
    position: absolute;
}
.exportBlock .reportBlock.span5{
    width:230px;
}
.exportBlock .btn{
    width:100%;
}

.borderBottom {
    border-top: 2px solid #08c !important;
}

.coloredCellRight{
    text-align: left ;
    background: #d9edf7 !important;
    border-top:1px solid #fff !important;
}
.coloredCellLeft{
    text-align: right; 
    background: #d9edf7 !important;
    border-top:1px solid #fff !important;
}
.totalCellRight{
    font-weight: bold;
    color:#fff;
    text-align: left !important;
    background-color: #3480C7 !important;
}
.totalCellLeft{
    font-weight: bold;
    color:#fff;
    text-align: right !important;
    background-color: #3480C7 !important;
}
/*REPORT*/

/*control panel*/
.rowTotal{
    border-top: 2px solid #3480C7 !important;
    background: #fff !important;
}
.cp_FilterChkBox label,.sum{
    display:block;
    margin-left: 20px;
    font-weight: bold;
    color:#3480C7;
    float:right
}
.cp_FilterChkBox label{
    margin-top: 10px;
}
.sum{
    display: inline-block;
    margin-left: 40px;
}
.sum label{
    display: inline;
    color:#000;
    background: #ddd;
    padding: 4px 10px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.sum .value{
    background: #3480C7;
    padding: 4px 10px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color:#fff;
    margin-right: -8px;
}
.companyInfo{
    width:480px;
}
/*control panel*/

.highlighted{
    background: url(../images/tabs.png) repeat-x 0 -113px !important;
    padding: 4px;
    border: 0 !important;
    top: 1px !important;
}

.highlighted .employees-icon {
    background-position: -1px -50px ;
}

.tryUsFree{
    position: relative;
    top: 8px;
    padding: 10px 20px;
    background: url(../images/tabs.png) repeat-x 0 -177px !important;
    border-radius: 0 0 8px 8px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    width: 170px;
    text-align: center;
    right: 90px;
}
.tryUsFree:hover{
    text-decoration: none;
    color: #fff;
}
.deactivate,.taskBtn{
    position: absolute;
    top: 26px;
    left: 60px;
}

.clearSpan{
    clear:both !important;
    display: block;
}

/*Dimmed Buttons*/
btn.dimmed{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.btn-group.dimmed{
    zoom: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
/*Dimmed Buttons*/

/*show company page in control panel*/
.buttonRight{
    margin-left: 10px;
}
.buttonLeft{
    margin-right: 10px;
}
/*show company page in control panel*/


/*userFees*/
.addUserForm{
    float: right;
    width: 740px;
}
.userFees{
    background: #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
    float: right;
    border: 1px solid #ddd;
    -moz-box-shadow: -3px 3px 0px 2px #ddd;
    -webkit-box-shadow: -3px 3px 0px 2px #ddd;
    box-shadow: -3px 3px 0px 2px #ddd;
}
/*userFees*/


/*Control panel*/
.internalUse{
    font-size: 12px;
    color: #333;
    padding: 8px 20px;
    margin: -10px 42px 0 -5px;
    background: #f2f2f2;
    border-radius: 4px 4px 0 0;
}
.internalUse input{
    margin: -3px 0 0 4px;
}
/*Control panel*/

.alignCenter{
    text-align: center;
}


/*creditCardinfoBlock*/
.creditCardBlock{
    margin-right: 65px
}
.creditCardinfoBlock{
    margin: 30px 0 45px;
    width: 420px;
}
.creditCardinfoBlock div{
    padding: 15px 20px;
    border:0px;
    border-top:3px solid #ccc;
    overflow: hidden;
    position: relative;
    background: #f9f9f9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.creditCardinfoBlock div.alert{
    border-top:3px solid #efd09b;
    color: #c09853;
    background-color: #fcf8e3;
}
.creditCardinfoBlock div.error{
    border-top:3px solid #d8817f;
    color: #b94a48;
    background-color: #f2dede;
}
.creditCardinfoBlock h5{
    color: #333;
    font-size: 16px;
    margin: -10px 0px 6px 0px;
}
.creditCardinfoBlock label{
    clear:both;
    float: right;
    font-weight: bold;
    color: #08c;
    margin-left: 10px;
    width:110px;
}
.creditCardinfoBlock span {
    float: right;
}
.creditCardinfoBlock ul.actions.right{
    margin: -3px 0 0 0;
}
.addCreditCardinfoBlock{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border:1px solid #e8e8e8;
    line-height: 81px;
    margin: 46px 90px 45px 0;
    background: #f1f1f1;
    color:#cdcdcd;
    display: inline-block;
}
.addCreditCardinfoBlock.only{
    margin-right: 0;
    margin-top: 15px
}
.addCreditCardinfoBlock:hover{
    text-decoration: none;
    background: #e7e7e7;
    border:1px solid #d8d8d8;
    color:#bababa;
}
.switch {
    background: url("../images/colorediconset.png") no-repeat right -1407px transparent;
    border: none;
    width: 54px !important;
    height: 45px;
    font-size: 0;
    color: transparent;
    margin: 70px 20px 0;
}
.switch:hover{
    background: url("../images/colorediconset.png") no-repeat right -1455px transparent;
}
.delCreditCard{
    position: absolute;
    left: 20px;
    top: 25px;
}
.secondaryCreditCard{
    margin-right: 94px;
}
/*creditCardinfoBlock*/

/*CurrentBalance*/
.currentBalance{
    margin: 10px 0 50px;
    position: relative;
}
.currentBalance h4 {
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px;
}
.currentBalance h4 span{
    font-weight: Bold;
}
.currentBalance p{
    font-size: 13px;
}
.lastPayment,.currentOfferStatus{
    font-size: 13px;
}
.currentOfferStatus{
    color:#468847;
    display:block;
    margin-top: 5px;
}
.deactivateBtn{
    position: absolute;
    left:0;
    top:-6px;
}
/*CurrentBalance*/


/*subscription*/

.subscriptionAccordion{
    margin-bottom: 40px;
}
.gridCollape{
    border-bottom: 1px solid #e5e5e5;
}
.gridCollape span{
    padding: 0 10px;

}

.gridHeaderCollape{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
}
.gridHeaderCollape span{
    color: #08c; 
    padding-bottom: 10px;
}
.gridHead{
    background: url(../images/collapsePlus.png) no-repeat left 5px;
    font-weight: bold;
    padding: 8px 0;
    cursor: pointer;
}
.gridHead.collapseMinus{
    background: url(../images/collapseMinus.png) no-repeat left 6px;
}

.gridBody{
    display: none;
    padding: 0 0 8px;
    overflow:hidden;
}

.accordion-toggle.noData{
    background: none !important;
    cursor: default;
}
.date_td,.description_td,.subTotal_td,.discount_td,.total_td{
    display: inline-block;
    color: #333333;

}

.date_td{
    width:200px;
}
.description_td{
    width:250px;
}
.discount_td,.subTotal_td{
    color:#7d7d7d;
}
.total_td,.discount_td,.subTotal_td{
    width:120px;
    text-align: left;
}
.transaction{
    display: block;
    margin: 10px 0 0 25px;
}

/*subscription*/

/*Uppercase*/
/*.btn,.accordion-Header{
    text-transform:uppercase;
}*/

.alert_td{
    background: #FCF8E3 !important;
    color: #777777;
}



/*deactivate company*/
.input-password{
    margin-right: 5px !important;
    width: 142px !important;
}
.deactivateCopmany .error input{
    border-color: #b94a48 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}
.deactivateCopmany .error {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}
.deactivateCopmany .error .help-block{
    color:#b94a48 !important;
    width: 130px !important;
}
/*deactivate company*/
/*Log In Reactivate*/
.centerUnknown{
    text-align: center;
}
.centerd{
    display: inline-block;
    vertical-align: middle;
}
.reActivateError{
    display: inline-block;
    padding: 8px 14px;
    margin: 20px auto;
}
/*Log In Reactivate*/


.billingInfoDemo{
    background: url(../images/forbidden.png) no-repeat center center;
    height: 812px;
}
/*Safari Windows*/
.windows.safari .btn{
    padding: 4px 14px;
}
.windows.safari #myTab a{
    padding: 10px 14px;
}
.windows.safari .actions li{
    width:16px;
}
.windows.safari select,.windows.safari input{
    margin-right: -3px;
}
.windows.safari input[type="text"],.windows.safari input[type="password"]{
    height: 26px;
}
.windows.safari input[type="text"].dollarSign{
    padding-right: 20px !important;
}
.windows.safari .selectUsers {
    min-width: 192px;
}
.windows.safari .profilePic.block .actions{
    width:214px;
}
.windows.safari .profilePic div.actions .btn {
    margin: -10px 10px 0 0;
}
.windows.safari .fakeTextBox{
    height: 26px !important;
}
.wndows.safari .input-prepend input{
    margin-right: -3px;
}
.windows.safari .deleteRow, .windows.safari  .addRow{
    top: 6px;
}
.windows.safari select ,
.windows.safari textarea,
.windows.safari input[type="text"],
.windows.safari input[type="password"],
.windows.safari .uneditable-input{
    padding: 0 6px !important;
    line-height: 12px;
}
.windows.safari .loginBlockDiv .form-horizontal.custom input[type="password"]{
    padding: 1px 6px 1px 26px !important
}
.windows.safari .modal-body .forgetPassword{
    top: -44px;
    left: 76px;
}
.windows.safari input[type="text"] {
    padding:1px 6px !important
}
.clearInput {
    position: relative;
    top: 5px;
}
.windows.safari select,.windows.safari input[type="file"] {
    height: 30px;
    line-height: 24px;
}
.windows.safari .radioInlineBlock .radioContainer{
    padding: 10px 0 10px 10px !important;
    width: 65px;
}
.windows.safari .addUserForm .radioInlineBlock .radioContainer{
    width: 85px;
}
.windows.safari .radioInlineBlock .radioContainer input{
    margin-left: 5px;
}
.windows.safari .today .btn-group{
    width: 440px;
}
.windows.safari .today a.btn {
    padding: 4px 72px;
    margin-right: -4px;
}
.windows.safari .clockInBtn {
    margin-right: 5px;
}
/*Safari Windows*/

/*Firefox Windows*/
.windows.firefox .saveBtn {
    padding: 5px 14px 6px;
}
/*Firefox Windows*/

/*Windows IE*/
.windows.ie.ie10 .loginBlockDiv input[type="text"],
.windows.ie.ie10 .loginBlockDiv input[type="password"]{
    line-height: 10px !important;
}
.windows.ie.ie9 .loginBlockDiv input[type="text"],
.windows.ie.ie9 .loginBlockDiv input[type="password"]{
    line-height: 20px !important;
}
/*Windows IE*/

/*shiftReport note*/
.table tr.shiftReport td {
    border-top: 0;
    padding: 4px 0;
    background: #fff !important;
}
.table tr.shiftReport td p{
    border: 1px solid #e6e6e6;
    border-right: 4px solid #e6e6e6;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fcfcfc;
    margin: 0 0 5px;

}


.table tr.shiftReport td p span{
    color: #3480C7;
    font-family: "Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
    display:block;
    font-weight: bold;
    font-style:normal;
}

.table tr.shiftReport td p.noShift{
    color:#666;
    font-style: italic;
    font-size:12px;

}
.table tr.shiftReport td p.noShift span{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

/*shiftReport note*/

.table thead tr.info th {
	background-color: #666 !important;
	color:#fff;
}
.table thead tr.info th:first-child{
  border-radius:0 5px 0px 0;
}

.table thead tr.info th:last-child{
  border-radius:5px 0 0 0px;
}

.scircle { width:150px; height:100px; border-radius:100px; padding-top:50px; float:right; margin-left:24px; border:2px solid #000; text-align:center; font-family:Abel; font-size:40px; cursor:pointer;}
.scircle:hover { background:#f1f1f1;}

.scircle.green { border:2px solid #1fad37 !important; color:#1fad37;}
.scircle.blue { border:2px solid #167cd3 !important; color:#167cd3;}
.scircle.red { border:2px solid #ad1f18 !important; color:#aa1f18;}
.scircle.gray { border:2px solid #666 !important; color:#666;}
.scircle span { font-size:21px !important; padding-top:10px; display:block;}

.pbar { background:#f1f1f1; height:15px !important; width:100% !important; }
.pbar .red { background:#f00 !important; height:15px; max-width:100%;}
.pbar .yellow { background:#FF0 !important; height:15px; max-width:100%;}
.pbar .green { background:#090 !important; height:15px; max-width:100%;}
select.dd-lang {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 100px;
}